<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Lund Aerospace and Rocketry Association (LARA) är en förening som
    grundades 2019 med syftet att främja intresset för raketteknik vid
    LTH. Detta gör vi genom regelbundna träffar där vi bygger och
    utvecklar våra egna raketer.">
    <link rel="icon" href="<%= BASE_URL %>lara_logga.png">
    <title> LARA </title>
    <link rel="preload" as="image" href="<%= BASE_URL %>background.jpg" />
    <style>
      body {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        font-size: 200px;
        line-height: 1.5;
      }
    </style>
  </head>
  <body style="min-height: 100vh;background-color: black">
    <noscript>
      <strong>We're sorry but the LARA website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
